html {
    background-color: black;
}

.top {
    color: seagreen;
    font-size: 5em;
    text-align: center;

}

.front {
  color:rgba(46, 139, 87, 0.85);
  background-color: tan;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-top: 20px;
  width: 60%;
  margin-bottom: 2em;    
    
}


.row div {
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;  
  margin: 0.5em;
  display: inline-block;
  padding: 0.5em;
color:  rgba(255, 255, 255, 0.42);    
}

form {
/*    display: none;*/
background-color: #2d801e;
display: inline-block;
width: 30%;
position: absolute;
border-radius: 20px;
padding: 1em 1em 4em;
right: 15%;
float: right;
margin: 0 auto;
top: 12em;  
}

form div {
    padding: 0.3em;
    text-align: center; 
}

.container {
    clear: left;
}

.col-sm-1:hover {
  opacity: 0.50;
  background-color: gray;
}


.background-color {
    background-image: url("images/theatreimage.jpg");
    background-repeat: no-repeat;
    background-size: 50%;
    background-color: black;
}

#seat-button {
    margin: 0 auto;
    display: flex;
    text-align: center;
}


#seatSelection {
    background-image: url("images/theatreimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
/*    width: 42em;*/
    display: inline-block;
}

#marquee {
    background-color: antiquewhite;
    position: absolute;
    display: none;
    float: right;
    width: 40%;
    height: 100%;
    clear: right;
}

#left-pane {
    width: 50%;
    height: 40em;
}

#right-pane {
    width: 30%;
}

input {
    width: 70%;
    height: 3em;
}

label {
    font-size: 20pt;
    font-family: serif;
    color: #ffffff;
}
