html {
    background-color: black;
    background-image: url("images/theatre.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.top {
    color: seagreen;
    background-color: rgba(20, 20, 20, 0.75);
    font-size: 5em;
    font-family: 'Eagle Lake', cursive;
    text-align: center;
}

.front {
  color:rgba(46, 139, 87, 0.85);
  background-color: tan;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-top: 20px;
  width: 50%;
  margin-bottom: 2em;
}

.front, #marquee {
    box-shadow: -1em 1em 2em #070707;
    z-index: 2;
}

/*---------left side--------*/
#left-pane {
    width: 50%;
    height: 40em;
    display: inline-block;
}

/*---------seats--------*/
.container {
    display: inline-block;
    clear: left;
    width: 100%;
    margin-left: 1em;
}

.row div {
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
  margin: 0.5em;
  display: inline-block;
  padding: 0.5em;
color:  rgba(255, 255, 255, 0.42);
}

.col-sm-1:hover {
  opacity: 0.50;
  background-color: gray;
}

@media (max-width: 1100px) {
        .row div {
        width: 6em;
        height: 6em;
        display: inline;
        line-height: 4em;
        clear: right;
            }
    .container {
       width: 80%;
        margin-left: 5em;
        padding-left: 3em;
    }
}

#ready-button {
    margin: 0 auto;
    display: flex;
    text-align: center;
}


/*---------right side--------*/
#right-pane {
    display: inline-block;
    width: 30%;
    height: 40em;
    float: right;
    top: 0;
    text-align: center;
}

#right-pane #marquee {
    color: lightblue;
    list-style-type: none;
    background-color: antiquewhite;
    display: inline-block;
    width: 30%;
    position: absolute;
    border-radius: 20px;
    padding: 1em 1em 4em;
    right: 15%;
    float: right;
    margin: 0 auto;
    height: 30em;
    clear: left;
    overflow: scroll;
}

/*---------form--------*/
form {
    visibility: hidden;
    display: inline-block;
    background-color: #2d801e;
    width: 30%;
    position: absolute;
    border-radius: 20px;
    padding: 1em 1em 4em;
    right: 15%;
    float: right;
/*    margin: 0 auto;*/
    top: 12em;
    z-index: 3;
}

form div {
    padding: 0.3em;
    text-align: center;
}

input {
    width: 70%;
    height: 3em;
}

label {
    font-size: 20pt;
    font-family: serif;
    color: #ffffff;
}
