body {
    background-image: url("images/theatreimage.jpg");
    background-size: 100%;
    /*width: 100%;*/
    /*height: 100%;*/
}

.top {
  color: seagreen;
}

.front {
  color:seagreen;
  border-radius: 20px;
  background-color: tan;
  height: 40px;
  text-align: center;
  font-size: 22px;
  border-top: 20px;
}

.row div {
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

/*
#A1 {
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}
#A2{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#A3{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#A4{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#A5{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#A6{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B1{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B2{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B3{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B4{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B5{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#B6{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C1{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C2{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C3{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C4{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C5{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#C6{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D1{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D2{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D3{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D4{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D5{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}

#D6{
  border-radius: 10px;
  background-color: green;
  width: 80px;
  height: 80px;
}
*/
